$primaryPalette: (
  50: var(--color-primary-50),
  100: var(--color-primary-100),
  200: var(--color-primary-200),
  300: var(--color-primary-300),
  400: var(--color-primary-400),
  500: var(--color-primary-500),
  600: var(--color-primary-600),
  700: var(--color-primary-700),
  800: var(--color-primary-800),
  900: var(--color-primary-900),
  A100: var(--color-primary-A100),
  A200: var(--color-primary-A200),
  A400: var(--color-primary-A400),
  A700: var(--color-primary-A700),
  default: var(--color-primary-default),
  lighter: var(--color-primary-lighter),
  darker: var(--color-primary-darker),
  text: var(--color-primary-text),
  contrast: (
    50: var(--color-primary-50-contrast),
    100: var(--color-primary-100-contrast),
    200: var(--color-primary-200-contrast),
    300: var(--color-primary-300-contrast),
    400: var(--color-primary-400-contrast),
    500: var(--color-primary-500-contrast),
    600: var(--color-primary-600-contrast),
    700: var(--color-primary-700-contrast),
    800: var(--color-primary-800-contrast),
    900: var(--color-primary-900-contrast),
    A100: var(--color-primary-A100-contrast),
    A200: var(--color-primary-A200-contrast),
    A400: var(--color-primary-A400-contrast),
    A700: var(--color-primary-A700-contrast),
  ),
  50-contrast: var(--color-primary-50-contrast),
  100-contrast: var(--color-primary-100-contrast),
  200-contrast: var(--color-primary-200-contrast),
  300-contrast: var(--color-primary-300-contrast),
  400-contrast: var(--color-primary-400-contrast),
  500-contrast: var(--color-primary-500-contrast),
  600-contrast: var(--color-primary-600-contrast),
  700-contrast: var(--color-primary-700-contrast),
  800-contrast: var(--color-primary-800-contrast),
  900-contrast: var(--color-primary-900-contrast),
  A100-contrast: var(--color-primary-A100-contrast),
  A200-contrast: var(--color-primary-A200-contrast),
  A400-contrast: var(--color-primary-A400-contrast),
  A700-contrast: var(--color-primary-A700-contrast),
  default-contrast: var(--color-primary-default-contrast),
  lighter-contrast: var(--color-primary-lighter-contrast),
  darker-contrast: var(--color-primary-darker-contrast),
);

$accentPalette: (
  50: var(--color-accent-50),
  100: var(--color-accent-100),
  200: var(--color-accent-200),
  300: var(--color-accent-300),
  400: var(--color-accent-400),
  500: var(--color-accent-500),
  600: var(--color-accent-600),
  700: var(--color-accent-700),
  800: var(--color-accent-800),
  900: var(--color-accent-900),
  A100: var(--color-accent-A100),
  A200: var(--color-accent-A200),
  A400: var(--color-accent-A400),
  A700: var(--color-accent-A700),
  default: var(--color-accent-default),
  lighter: var(--color-accent-lighter),
  darker: var(--color-accent-darker),
  text: var(--color-accent-text),
  contrast: (
    50: var(--color-accent-50-contrast),
    100: var(--color-accent-100-contrast),
    200: var(--color-accent-200-contrast),
    300: var(--color-accent-300-contrast),
    400: var(--color-accent-400-contrast),
    500: var(--color-accent-500-contrast),
    600: var(--color-accent-600-contrast),
    700: var(--color-accent-700-contrast),
    800: var(--color-accent-800-contrast),
    900: var(--color-accent-900-contrast),
    A100: var(--color-accent-A100-contrast),
    A200: var(--color-accent-A200-contrast),
    A400: var(--color-accent-A400-contrast),
    A700: var(--color-accent-A700-contrast),
  ),
  50-contrast: var(--color-accent-50-contrast),
  100-contrast: var(--color-accent-100-contrast),
  200-contrast: var(--color-accent-200-contrast),
  300-contrast: var(--color-accent-300-contrast),
  400-contrast: var(--color-accent-400-contrast),
  500-contrast: var(--color-accent-500-contrast),
  600-contrast: var(--color-accent-600-contrast),
  700-contrast: var(--color-accent-700-contrast),
  800-contrast: var(--color-accent-800-contrast),
  900-contrast: var(--color-accent-900-contrast),
  A100-contrast: var(--color-accent-A100-contrast),
  A200-contrast: var(--color-accent-A200-contrast),
  A400-contrast: var(--color-accent-A400-contrast),
  A700-contrast: var(--color-accent-A700-contrast),
  default-contrast: var(--color-accent-default-contrast),
  lighter-contrast: var(--color-accent-lighter-contrast),
  darker-contrast: var(--color-accent-darker-contrast),
);

$warnPalette: (
  50: var(--color-warn-50),
  100: var(--color-warn-100),
  200: var(--color-warn-200),
  300: var(--color-warn-300),
  400: var(--color-warn-400),
  500: var(--color-warn-500),
  600: var(--color-warn-600),
  700: var(--color-warn-700),
  800: var(--color-warn-800),
  900: var(--color-warn-900),
  A100: var(--color-warn-A100),
  A200: var(--color-warn-A200),
  A400: var(--color-warn-A400),
  A700: var(--color-warn-A700),
  "default": var(--color-warn-default),
  lighter: var(--color-warn-lighter),
  darker: var(--color-warn-darker),
  text: var(--color-warn-text),
  contrast: (
    50: var(--color-warn-50-contrast),
    100: var(--color-warn-100-contrast),
    200: var(--color-warn-200-contrast),
    300: var(--color-warn-300-contrast),
    400: var(--color-warn-400-contrast),
    500: var(--color-warn-500-contrast),
    600: var(--color-warn-600-contrast),
    700: var(--color-warn-700-contrast),
    800: var(--color-warn-800-contrast),
    900: var(--color-warn-900-contrast),
    A100: var(--color-warn-A100-contrast),
    A200: var(--color-warn-A200-contrast),
    A400: var(--color-warn-A400-contrast),
    A700: var(--color-warn-A700-contrast),
  ),
  50-contrast: var(--color-warn-50-contrast),
  100-contrast: var(--color-warn-100-contrast),
  200-contrast: var(--color-warn-200-contrast),
  300-contrast: var(--color-warn-300-contrast),
  400-contrast: var(--color-warn-400-contrast),
  500-contrast: var(--color-warn-500-contrast),
  600-contrast: var(--color-warn-600-contrast),
  700-contrast: var(--color-warn-700-contrast),
  800-contrast: var(--color-warn-800-contrast),
  900-contrast: var(--color-warn-900-contrast),
  A100-contrast: var(--color-warn-A100-contrast),
  A200-contrast: var(--color-warn-A200-contrast),
  A400-contrast: var(--color-warn-A400-contrast),
  A700-contrast: var(--color-warn-A700-contrast),
  default-contrast: var(--color-warn-default-contrast),
  lighter-contrast: var(--color-warn-lighter-contrast),
  darker-contrast: var(--color-warn-darker-contrast),
);

$background: (
  status-bar: var(--background-status-bar),
  app-bar: var(--background-app-bar),
  background: var(--background-background),
  hover: var(--background-hover),
  card: var(--background-card),
  dialog: var(--background-dialog),
  disabled-button: var(--background-disabled-button),
  raised-button: var(--background-raised-button),
  focused-button: var(--background-focused-button),
  selected-button: var(--background-selected-button),
  selected-disabled-button: var(--selected-disabled-button),
  disabled-button-toggle: var(--background-disabled-button-toggle),
  unselected-chip: var(--background-unselected-chip),
  disabled-list-option: var(--background-disabled-list-option),
  tooltip: var(--background-tooltip),
);

$foreground: (
  base: var(--foreground-base),
  divider: var(--foreground-divider),
  dividers: var(--foreground-dividers),
  disabled: var(--foreground-disabled),
  disabled-button: var(--foreground-disabled-button),
  disabled-text: var(--foreground-disabled-text),
  elevation: var(--foreground-elevation),
  hint-text: var(--foreground-hint-text),
  secondary-text: var(--foreground-secondary-text),
  icon: var(--foreground-icon),
  icons: var(--foreground-icons),
  text: var(--foreground-text),
  slider-min: var(--foreground-slider-min),
  slider-off: var(--foreground-slider-off),
  slider-off-active: var(--foreground-slider-off-active),
);

$theme-light: (
  color: (
    primary: $primaryPalette,
    accent: $accentPalette,
    warn: $warnPalette,
    is-dark: false,
    foreground: $foreground,
    background: $background,
  ),
  primary: $primaryPalette,
  accent: $accentPalette,
  warn: $warnPalette,
  is-dark: false,
  foreground: $foreground,
  background: $background,
);


$theme-dark: (
  color: (
    primary: $primaryPalette,
    accent: $accentPalette,
    warn: $warnPalette,
    is-dark: true,
    foreground: $foreground,
    background: $background,
  ),
  primary: $primaryPalette,
  accent: $accentPalette,
  warn: $warnPalette,
  is-dark: true,
  foreground: $foreground,
  background: $background,
);
