@use "@angular/material" as mat;
@use "@cpangular/material-dynamic-theming" as theme;

$themeName: "deeppurple-amber";

$primary: theme.palette(mat.$deep-purple-palette);
$accent: theme.palette(mat.$amber-palette, A200, A100, A400);

$theme: theme.define(
  $themeName,
  (
    light: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

$themes: theme.register($theme);
$themes: theme.build($themes, $themeName);

@include theme.styles($themes);

@include material.core();
@include material.styles($themes);
