@use "@angular/material" as mat;
@use "@cpangular/material-dynamic-theming" as theme;

$themeName: "pink-bluegrey";

$primary: theme.palette(mat.$pink-palette, 700, 500, 900);
$accent: theme.palette(mat.$blue-grey-palette, A200, A100, A400);

$theme: theme.define(
  $themeName,
  (
    dark: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

$themes: theme.register($theme);
$themes: theme.build($themes, $themeName, true);

@include theme.styles($themes);

@include material.core();
@include material.styles($themes);
