@use '../../material-dynamic-theming' as theme;
@use '../../material-dynamic-theming/material';

@use '@angular/material' as mat;

$orange: theme.palette(mat.$orange-palette);
$blue: theme.palette(mat.$blue-palette);
$pink: theme.palette(mat.$pink-palette);
$purple: theme.palette(mat.$purple-palette);

$myTheme: theme.define(
  'my-theme',
  (
    dark: (
      primary: $blue,
      accent: $orange,
    ),
    shared: (
      sizes: (
        small: 1px,
        large: 5px,
      ),
    ),
  )
);

$myThemeReversed: theme.define(
  'my-theme-rev',
  (
    dark: (
      primary: $orange,
      accent: $blue,
    ),
    shared: (
      sizes: (
        small: 1px,
        large: 5px,
      ),
    ),
  )
);

$mike: theme.define(
  'mike',
  (
    dark: (
      primary: $pink,
      accent: $purple,
    ),
    shared: (
      sizes: (
        small: 1px,
        large: 5px,
      ),
    ),
  )
);

$themes: theme.register($myTheme);
$themes: theme.register($myThemeReversed, $themes);
$themes: theme.register($mike, $themes);

$themes: theme.build($themes, 'my-theme');

@include theme.styles($themes);

@include material.core();
@include material.styles($themes);

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
